{% extends 'doctor/reportsbase.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<style>
	.text-right {
  text-align: right;
}

	.timeline-wrapper {
  display: block;
  width: 100%;
  height: 15rem;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: visible;
  white-space: nowrap;
}
.timeline-wrapper .timeline-line {
  display: block;
  width: 10000px;
  height: 1px;
  background: black;
  position: absolute;
  top: 50%;
  -webkit-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;


}
.timeline-wrapper .timeline-content-day {
  height: 100%;
  padding: 65px
}
.timeline-wrapper .timeline-content-item {
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  width: 30%;
  display: inline-block;
  position: relative;
  height: 100%;
  margin-right: 120px;
  -webkit-transition: width .5s;
  -moz-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
  z-index: 1;
}
.timeline-wrapper .timeline-content-item > span {
  height: 2rem;
  display: block;
  font-weight: bold;
  position: absolute;
  top: 50%;
  margin-top: -.25em;
  width: 100%;
  text-shadow: 0 0 2px black;
  cursor: pointer;
}
.timeline-wrapper .timeline-content-item > span:before {
  content: " ";
  display: block;
  width: .5em;
  height: .5em;
  background: white;
  margin: 0 auto .5em auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal {
  display: none;
  position: absolute;
  left: 0;
  top: 20%;
  margin-top: -50%;
  width: 100%;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal a {
  display: block;
  width: 100%;
  height: 100%;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal a img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	max-height: 100%;
  max-width: 100%;
  border: 3px solid white;
  -webkit-box-shadow: 0 0 2px black;
  -moz-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal a span {
  position: absolute;
  width: 250%;
  margin-left: -75%;
  bottom: -2rem;
  left: 0;
  font-family: serif;
  font-size: 0.8em;
  font-style: italic;
  text-decoration: none;
  white-space: nowrap;
  color: black;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5), 0 0 1px black;
}
.timeline-wrapper .timeline-content-item .timeline-content-item-reveal a span:after {
  content: "\203A";
  margin-left: .3em;
}
.timeline-wrapper .timeline-content-item.active {
  width: 10%;
}
.timeline-wrapper .timeline-content-item.active .timeline-content-item-reveal {
  display:block;
}

	</style>
<div class="main" align ="center">
	<h3 class ="animated slideInUp" align ="center"><b>Reports for {{patient.lastName}}, {{patient.firstName}} {{patient.middleName}}.</b></h3>

	<a class ="animated slideInUp" href="{% url 'unodosmattress:patients' %}"><b> Back</b></a>

	<div class="main-inner">
		<br>
	    <div class="container" >
				<div class="row">
					<div class="span2">
	      		<div class="widget">
	      		</div> <!-- /widget -->
      		</div> <!-- /span4 -->
					<div class="span4">
	      		<div class="widget">
	      			<div class="widget-content" align ="center">
			      		<h4>Choose a Type</h4>
								<br>
								<form id="type" class="form-horizontal" method = "POST" action=".">
									{% csrf_token %}
								 <fieldset>
									 <div class="form-group">
									 	<select class="form-control" id="selecttype"  onchange="filterReport()">
											<option value ="0">All</option>
											<option value ="1">Heart Rate</option>
											<option value ="2">Temperature</option>
									 		<option value ="3">Position</option>
									 	<select>
									 </div>	<!-- /controls -->
									  <!-- /control-group -->
								</fieldset>
								<!--1<img id ="image" src="{% static 'img/blank.png'%}"  / >!-->
								</form>
		      		</div> <!-- /widget-content -->
	      		</div> <!-- /widget -->
      		</div> <!-- /span4 -->
					<div class="span4">
						<div class="widget">
	      		<div id="target-3" class="widget">
	      			<div class="widget-content" align ="center">
			      		<h4>Choose a QD</h4>
								<br>
								<form id="patient" class="form-horizontal" method = "POST" action=".">
									{% csrf_token %}
								 <fieldset>
									 <div class="form-group">
										 <select class="form-control" id="selectqd" onchange="changeQ()">
											<option value ="1">Normal</option>
											<option value ="2">q15min</option>
									 	<select>
								 	</div>	
								</fieldset>
							
								</form>
		      		</div> 
	      		</div> 
      		</div> <!-- /span4 -->
					</div>
					<div class="span2">
	      		<div class="widget">
	      		</div> <!-- /widget -->
      		</div> <!-- /span4 -->

				</div>


				<div class ="row">

 	      	<div class="span12">

 						<div class="widget" id="heartRateWidget">
 					     <div class="widget-content" >
 									<div class ="timeline-wrapper" id="hr" style="min-height: 400px; min-width: 380px">
									</div>
 						   </div>
 						</div>
					</div>


				</div>

				<div class ="row">
					<div class ="span12">

						<div class="widget" id="temperatureWidget">
							 <div class="widget-content" >
								<div id="temp" style="height: 400px; min-width: 380px"></div>
									</div>
					  </div>
					</div>

 				</div>


				<div class ="row" id = "positionWidget">
 	      	<div class="span12">
 						<div class="widget" >
 					     <div class="widget-content" >
 									<div class ="timeline-wrapper" id="container" style="min-height: 400px; min-width: 380px">
									</div>
 						   </div>
 						</div>
					</div>


				</div>



<!--

					<div class="row" id="positionWidget">
						<div class="span12">
							<div class="widget">

								<div class="widget-content" align ="right">
									<div class ="" align ="left">
 									<h4> Position Trends </h4>
 								 </div>
									<h4 class ="text-right"> Legend: &nbsp; <img src="{% static 'img/tl none.png'%}"> No Position &nbsp;
										 <img src="{% static 'img/tl back.png'%}"> Back &nbsp;
										 <img src="{% static 'img/tl fetal.png'%}"> Left Fetal &nbsp;
										 <img src="{% static 'img/tl rightfetal.png'%}"> Right Fetal &nbsp;
										 <img src="{% static 'img/tl side.png'%}"> Left Side &nbsp;
									 	<img src="{% static 'img/tl rightside.png'%}"> Right Side &nbsp;</h4>

										<div class="body">
											<div id="timeline" class="body" style="padding-top: 2%;" >

												<div id="scroll" class="timeline-wrapper">
													<div id= "container" class="timeline-content-day">
														<div id="itemline" class="timeline-line"></div>

														{% for p in positionList %}
														<div class='timeline-content-item active' data-timeline="hour-8">
															<span>{{p.hour}}:00:00</span>
															<div class='timeline-content-item-reveal'>
																<a>
																	{% if p.position == "NONE" %}
																		<img src="{% static 'img/timeline none.png'%}"/ >
																	{% endif %}
																	{% if p.position == "BACK" %}
																		<img src="{% static 'img/timeline back.png'%}"/ >
																	{% endif %}
																	{% if p.position == "RIGHT SIDE" %}
																		<img src="{% static 'img/timeline rightside.png'%}"/ >
																	{% endif %}
																	{% if p.position == "LEFT SIDE" %}
																		<img src="{% static 'img/timeline side.png'%}"/ >
																	{% endif %}
																	{% if p.position == "RIGHT FETAL" %}
																		<img src="{% static 'img/timeline rightfetal.png'%}"/ >
																	{% endif %}
																	{% if p.position == "LEFT FETAL" %}
																		<img src="{% static 'img/timeline fetal.png'%}"/ >
																	{% endif %}
																	<span>{{p.position}}</span>
																</a>
															</div>
														</div>
														{% endfor %}

														<!-- <div class='timeline-content-item active' data-timeline="hour-9">
															<span>9 AM</span>
															<div class='timeline-content-item-reveal'>
																<a>
																	<img src="{% static 'img/timeline back.png'%}"/ >
																	<span>Back</span>
																</a>
															</div>
														</div> -->
														<!-- <div class="timeline-content-item active" data-timeline="hour-10">
															<span>10 AM</span>
															<div class="timeline-content-item-reveal">
																<a>
																	<img src="{% static 'img/timeline none.png'%}"/ >
																	<span>None</span>
																</a>
															</div>
														</div>

													</div>

												</div>
											</div>
						</div>

										</div>
-->












	    </div> <!-- /container -->

	</div> <!-- /main-inner -->

</div> <!-- /main -->






<script src="{% static 'js/jquery-1.7.2.min.js'%}"></script>
<script src="{% static 'js/excanvas.min.js'%}"></script>
<script src="{% static 'js/chart.min.js" type="text/javascript'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="{% static 'js/base.js'%}"></script>
<script src="{% static 'js/highcharts.js'%}"></script>
<script src="{% static 'js/annotations.js'%}"></script>
<script src="{% static 'js/series-label.js'%}"></script>
<script src="{% static 'js/exporting.js'%}"></script>
<script src="{% static 'js/export-data.js'%}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/dataTables.js'%}"></script>
<script>
	$(document).ready(function() {
	    $('#fex').DataTable();
			 $('#fexx').DataTable();
	} );
	function filterReport(){
		var selected = $("#selecttype").val();
		if(selected == 0){
			$("#temperatureWidget").show();
			$("#heartRateWidget").show();
				$("#temperatureWidget2").show();
				$("#heartRateWidget2").show();
			$("#positionWidget").show();
		}
		else if(selected == 1){
			$("#temperatureWidget").hide();
			$("#heartRateWidget").show();
			$("#temperatureWidget2").hide();
			$("#heartRateWidget2").show();
			$("#positionWidget").hide();

		}
		else if(selected == 2){
			$("#temperatureWidget").show();
			$("#heartRateWidget").hide();
			$("#temperatureWidget2").show();
			$("#heartRateWidget2").hide();
			$("#positionWidget").hide();

		}
		else if(selected == 3){
			$("#temperatureWidget").hide();
			$("#heartRateWidget").hide();

				$("#temperatureWidget2").hide();
				$("#heartRateWidget2").hide();
			$("#positionWidget").show();
		}
	}

	function displayCharts(heartRateData, temperatureData){
		heartRateChart(heartRateData);
		tempChart(temperatureData);

		positionChart();

	}

	function positionChart(positionList){

		var updatedData = new Array();

		for(var i = 0; i < positionList.length; i++){

			var date = positionList[i].date.split("-");
			var time = positionList[i].time.split(":");

			var y = 0;
			var symbol = 'url(../../../static/img/tlnone.PNG)';
			if(positionList[i].position == "BACK"){
				symbol = 'url(../../../static/img/tlback.PNG)';
				y = 1;
			}
			else if(positionList[i].position == "LEFT SIDE"){
				y = 2;
				symbol = 'url(../../../static/img/tlside.PNG)';
			}
			else if(positionList[i].position == "LEFT FETAL"){
				y = 3;

				symbol = 'url(../../../static/img/tlfetal.PNG)';
			}
			else if(positionList[i].position == "RIGHT SIDE"){
				y = 4;
				symbol = 'url(../../../static/img/tlrightside.PNG)';
			}
			
			else if(positionList[i].position == "RIGHT FETAL"){
				symbol = 'url(../../../static/img/tlrightfetal.PNG)';
				y = 5;
			}
			updatedData.push({x:Date.UTC(date[0], date[1] -1, date[2], time[0], time[1],time[2]),y:y,marker: {
	                symbol: symbol
	            },});

		}



		 // {
   //          	x: Date.UTC(2013, 3, 22, 1, 15),
	  //           y: 1,
	  //           marker: {
	  //               symbol: 'url(../../../static/img/tlback.PNG)'
	  //           }
	  //       },


		Highcharts.chart('container', {
	  chart: {
	    type: 'spline',
	    scrollablePlotArea: {
	      minWidth: 600,
	      scrollPositionX: 1
	    }
	  },
	  title: {
	    text: 'Changes in position over time'
	  },
	  
	  xAxis: {
	    type: 'datetime',
	    labels: {
	      overflow: 'justify'
	    },
	    dateTimeLabelFormats : {
	        hour: '%I %p',
	        minute: '%I:%M %p'
	    }
	  },
	  yAxis: {
	    title: {
	      text: 'Positions'
	    },
	    minorGridLineWidth: 0,
	    gridLineWidth: 0,
	    alternateGridColor: null,

	    plotBands: [{ // Light air
	      from: -0.5,
	      to: 0.5
	      ,
	      color: 'rgba(68, 170, 213, 0.1)',
	      label: {
	        text: 'NONE',
	        style: {
	          color: '#606060'
	        }
	      }
	    }, { // Light breeze
	      from: 0.5,
	      to: 1.5,
	      color: 'rgba(0, 0, 0, 0)',
	      label: {
	        text: 'BACK',
	        style: {
	          color: '#606060'
	        }
	      }
	    }, { // Gentle breeze
	      from: 1.5,
	      to: 2.5,
	      color: 'rgba(68, 170, 213, 0.1)',
	      label: {
	        text: 'LEFT SIDE',
	        style: {
	          color: '#606060'
	        }
	      }
	    }, { // Moderate breeze
	      from: 2.5,
	      to: 3.5,
	      color: 'rgba(0, 0, 0, 0)',
	      label: {
	        text: 'LEFT FETAL',
	        style: {
	          color: '#606060'
	        }
	      }
	    }, { // Fresh breeze
	      from: 3.5,
	      to: 4.5,
	      color: 'rgba(68, 170, 213, 0.1)',
	      label: {
	        text: 'RIGHT SIDE',
	        style: {
	          color: '#606060'
	        }
	      }
	    }, { // Strong breeze
	      from: 4.5,
	      to: 5.5,
	      color: 'rgba(0, 0, 0, 0)',
	      label: {
	        text: 'RIGHT FETAL',
	        style: {
	          color: '#606060'
	        }
	      }
	    }, 
	    ]
	  },
	  tooltip: {
		    formatter: function() {
		        return ''+
		                "" +
		                'Time: '+ Highcharts.dateFormat('%I:%M %p', this.x);
		    }
		},
	  plotOptions: {
	  	step: 'left',
	    spline: {
	    	marker: {
                radius: 4,
                lineColor: '#666666',
                lineWidth: 1
            },
	      lineWidth: 4,
	      states: {
	        hover: {
	          lineWidth: 5
	        }
	      },
	      pointInterval: 3600000, // one hour
	      pointStart: Date.UTC(2018, 1, 13, 0, 0, 0)
	    }	,
	    series:{

		  turboThreshold: 50000,
	    
	    }
	  },
	  series: [{
	    name: 'Time',
	    marker: {
            symbol: 'square'
        },
	    data: updatedData
	        

	  }, 
	  ],
	  navigation: {
	    menuItemStyle: {
	      fontSize: '10px'
	    }
	  }
	});




	}
	function heartRateChart(heartRateData){	

		console.log(heartRateData);
		// Data retrieved from http://vikjavev.no/ver/index.php?spenn=2d&sluttid=16.06.2015.
		var heartRateList = new Array();
		heartRateData.forEach(function(a){

			var date = a.date.split("-");
			var time = a.time.split(":");

			heartRateList.push([Date.UTC(date[0], date[1] -1, date[2], time[0], time[1],time[2]),a.heartRate],);
			

			

		});
		

		Highcharts.chart('hr', {

				title: {
						text: 'Heart Rate Report'
				},
				subtitle: {
						text: '2018-11-26'
				},
				xAxis: {
			        type: 'datetime',
				    labels: {
				      overflow: 'justify'
				    },
				    dateTimeLabelFormats : {
				        hour: '%I %p',
				        minute: '%I:%M %p'
				    }
			    },
				yAxis: {
					title: {
							text: 'Heart Rate (BPM)'
					},

				},
				tooltip: {


						valueSuffix: ' BPM <br>Status: </br>'

				},
				plotOptions: {

						series: {
							label:{
								connectorAllowed: false
							},

						}
				},
				series: [{
					lineColor: Highcharts.getOptions().colors[5],
					color: Highcharts.getOptions().colors[5],
					fillOpacity: 0.5,
						name: "{{firstName}}",
						data: heartRateList
						


				}, ],

		});
	}
	function tempChart(temperatureData){

		var tempList = new Array();

		temperatureData.forEach(function(a){

			var date = a.date.split("-");
			var time = a.time.split(":");

			tempList.push([Date.UTC(date[0], date[1] -1, date[2], time[0], time[1],time[2]),a.temperature],);
			

			

		});
		Highcharts.chart('temp', {
				chart: {
						type: 'spline',
						scrollablePlotArea: {
								minWidth: 600,
								scrollPositionX: 1
						}
				},
				title: {
						text: 'Temperature Report'
				},
				subtitle: {
						text: '2018-11-26'
				},
				xAxis: {
						type: 'datetime',
						labels: {
								overflow: 'justify'
						}
				},
				yAxis: {
						title: {
								text: 'Temp (℃)'
						},
						minorGridLineWidth: 0,
						gridLineWidth: 0,
						alternateGridColor: null,
						plotBands: [{ // Light air
								from: 0,
								to: 35,
								color: 'rgba(68, 170, 213, 0.1)',
								label: {
										text: 'Hypothermia',
										style: {
												color: '#606060'
										}
								}
						}, { // Light breeze
								from: 36.5,
								to: 37.5,
								color: 'rgba(0, 0, 0, 0)',
								label: {
										text: 'Normal',
										style: {
												color: '#606060'
										}
								}
						}, { // Gentle breeze
								from: 37.6,
								to: 39.9,
								color: 'rgba(68, 170, 213, 0.1)',
								label: {
										text: 'Fever/Hyperthermia',
										style: {
												color: '#606060'
										}
								}
						}, { // Moderate breeze
								from: 40,
								to: 1000,
								color: 'rgba(68, 170, 213, 0.1)',
								label: {
										text: 'Hyperpyrexia',
										style: {
												color: '#606060'
										}
								}
						},  ]
				},
				tooltip: {


						valueSuffix: ' ℃'
				},
				plotOptions: {
						spline: {
								lineWidth: 1,
								states: {
										hover: {
												lineWidth: 1
										}
								},
								marker: {
										enabled: false
								},
								pointInterval: 60000, // one hour 60000 if 1 second
								pointStart: Date.UTC(2018, 1, 13, 0, 0, 0) // start day and time

						}
				},
				series: [{
					lineColor: Highcharts.getOptions().colors[3],
					color: Highcharts.getOptions().colors[3],
					fillOpacity: 0.5,
						name: "{{firstName}}",
						data: tempList

				}, ],
				navigation: {
						menuItemStyle: {
								fontSize: '10px'
						}
				}
		});
	}
	function changeQ(){
		var selected = $("#selectqd").val();
		if(selected == 1){

			var i = "{{patient.idPatient}}";
			$.ajax({
				url: '/ajax/ajaxGetQOne/',
				data: {
					"idPatient":i
				},
				dataType: 'json',
				success: function (data){

					console.log(data);
					heartRateChart(data.heartRateList);
					tempChart(data.temperatureList);

				}
			});
		
		}
		else{
			var i = "{{patient.idPatient}}";
			$.ajax({
				url: '/ajax/ajaxGetQFifteen/',
				data: {
					"idPatient":i
				},
				dataType: 'json',
				success: function (data){

					console.log(data);
					heartRateChart(data.heartRateList);
					tempChart(data.temperatureList);

				}
			});
		}
		$('#fex').DataTable();
	  $('#fexx').DataTable();
	}

</script>
<script type="text/javascript">

	$(document).ready(function(){
		var i = "{{patient.idPatient}}";
		$.ajax({
			url: '/ajax/ajaxLoadData/',
			data: {
				"idPatient":i
			},
			dataType: 'json',
			success: function (data){

				var heartRateList = data.heartrateList;
				var temperatureList = data.temperatureList;
				var positionList = data.positionList;


				// var heartRate = data.heartRateList;
				// var heartRate = data.heartRateList;
				// var heartRate = data.heartRateList;
				// console.log(heartRateList);
				// console.log(heartRateList[0].date.split("-"));
				// console.log(heartRateList[0].time.split(":"));

				positionChart(positionList);
				heartRateChart(heartRateList);
				tempChart(temperatureList);

			}
		});
	});



		</script>



{% endblock content %}
