{% extends 'admin/bedsbase.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<style>button {
  font-family: 'Open Sans';

}
.txtbtn {
border: none;
background-color: inherit;
padding: 5px 60px;
font-size: 13px;
cursor: pointer;
display: inline-block;


}

.txtbtn:hover {background: #eee;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: red;}
.default {color: black;}
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}
.bt {

	width: 225px;
}

	[data-draggable="target"]
{

    list-style-type:none;
    margin: auto;
    width:60%;
    height:7.5em;
    overflow-y:auto;

    margin:0 0.5em 0.5em 0;
    padding:0.5em;

    border:1px solid #d6d6d6;
    border-radius:0.2em;

    background:#fff;

}

/* draggable items */
[data-draggable="item"]
{
    float:center;
    display:block;
    list-style-type:none;

    margin:0 0 2px 0;
    padding:0.2em 0.4em;

    border-radius:0.2em;

    line-height:1.3;
}
.cen {
    margin: auto;
    width: 60%;
		border-radius: 10px;
    border: 1px solid #d6d6d6;
    padding: 10px;
}
{
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 48%;
    padding: 10px;
    height: 125px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.table-wrapper-scroll-y {
display: block;
max-height: 150%;
max-width: 100%;
overflow-y: auto;
-ms-overflow-style: -ms-autohiding-scrollbar;
}
</style>
<div class="main">
	<div class="main-inner">
	    <div class="container" align ="center">

        <div class ="tabbable">
          <ul class="nav nav-tabs">
						<li class="active" style="width:33%;text-align:center"><a href="#viewbeds" data-toggle="tab"><i class="icon-eye-open"></i><b> View Beds</b></a></li>
					  <li style="width:34%;text-align:center"><a href="#editbeds" data-toggle="tab"><i class="icon-pencil"></i><b> Edit Beds</b></a></li>
             <li style="width:33%;text-align:center"><a href="#addbed" data-toggle="tab"><i class="icon-plus-sign"></i><b> Add Bed</b></a></li>
          	</ul><br>
          <div class ="tab-content">
            <div class="tab-pane active" id="viewbeds" align ="center">
              <div class ="widget-content">
                <div class="pricing-plans plans-3">

                  <select class ="span2 roomDropdown" id="viewbedsDropdown">
                    <option disabled>Select Room No.</option>
                    {% for r in rooms %}
                      <option id="{{r.idRoom}}">{{r.roomNumber}}</option>
                    {% endfor %}

                  <select>
                  <h4>List of Beds at Room No. <span class="roomNumberSpan">{{default_room.roomNumber}}</span></h4>
                  <hr>
						<div class="plan-container">
					        <div class="plan gray">
						        <div class="plan-header">
						        	<div class="plan-title">
						        		OCCUPIED
					        		</div> <!-- /plan-title -->
						          <div class="plan-price">
					           	 <span class="value" id="occupiedSizeSpan">{{default_room.get_occupied_size}}</span><span class="term"> </span>
								      </div> <!-- /plan-price -->
						        </div> <!-- /plan-header -->

								<div class="plan-actions">
                  <div class="table-wrapper-scroll-y">
                    <table class="table table-bordered ">
                      <tbody id = "occupiedBedsTable" class="bedsTable">
                        {% if default_room.get_occupied_size == 0%}
                        <tr>
                        <td style="text-align: center;">
                          <h3>NO BEDS</h3>
                        </td>
                        </tr>
                        {% endif %}
                        {% if default_room.get_occupied_size > 0 %}
                          {% for bed in default_room.get_occupied_beds %}
                          <tr>
                            <td style="width:20%;text-align:center;"><img src="{% static 'img/iconbed.png'%}"/ ></td>
                            <td style="width:80%; font-size:15px;">Bed #{{bed.bedNumber}}</td>
                          </tr>
                          {% endfor %}
                        {% endif%}
                      </tbody>
                    </table>
                  </div>
								</div> <!-- /plan-actions -->

							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->



					    <div class="plan-container">
					        <div class="plan green">
						        <div class="plan-header">

						        	<div class="plan-title">
						        		VACANT
					        		</div> <!-- /plan-title -->

                      <div class="plan-price">
                          <span class="value" id="availableSizeSpan">{{default_room.get_available_size}}</span><span class="term"> </span>
                     </div>
						        </div> <!-- /plan-header -->

								<div class="plan-actions">
                  <div class="table-wrapper-scroll-y">
                    <table class="table table-bordered ">
                      <tbody id="availableBedsTable" class="bedsTable">
                        {% if default_room.get_available_size == 0%}
                        <tr>
                        <td style="text-align: center;">
                          <h3>NO BEDS</h3>
                        </td>
                        </tr>
                        {% endif %}
                        {% if default_room.get_available_size > 0 %}
                          {% for bed in default_room.get_available_beds %}
                          <tr>
                          <td style="width:20%;text-align:center;"><img src="{% static 'img/iconbed.png'%}"/ ></td>
                          <td style="width:80%; font-size:15px;">Bed #{{bed.bedNumber}}</td>
                          </tr>
                          {% endfor %}
                        {% endif%}
                      </tbody>
                    </table>
                  </div>
								</div> <!-- /plan-actions -->

							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->

					    <div class="plan-container">
					        <div class="plan gray">
						        <div class="plan-header">

						        	<div class="plan-title">
						        		OUT OF ORDER
					        		</div> <!-- /plan-title -->

                      <div class="plan-price">
                          <span class="value" id="unavailableSizeSpan">{{default_room.get_unavailable_size}}</span><span class="term"> </span>
                     </div>

						        </div> <!-- /plan-header -->

								<div class="plan-actions">
                  <div class="table-wrapper-scroll-y">
                    <table class="table table-bordered ">
                      <tbody id="unavailableBedsTable" class="bedsTable">
                        {% if default_room.get_unavailable_size == 0%}
                        <tr>
                        <td style="text-align: center;">
                          <h3>NO BEDS</h3>
                        </td>
                        </tr>
                        {% endif %}
                        {% if default_room.get_unavailable_size > 0 %}
                          {% for bed in default_room.get_unavailable_beds %}
                          <tr>
                          <td style="width:20%;text-align:center;"><img src="{% static 'img/iconbed.png'%}"/ ></td>
                          <td style="width:80%; font-size:15px;">Bed #{{bed.bedNumber}}</td>
                          </tr>
                          {% endfor %}
                        {% endif%}
                      </tbody>
                    </table>
                  </div>
								</div> <!-- /plan-actions -->

							</div> <!-- /plan -->

					    </div> <!-- /plan-container -->


					</div> <!-- /pricing-plans -->
                <fieldset>

              </div>
            </div>













            <div class="tab-pane" id="editbeds" align ="center">
              <div class ="tab-content">
                <div class="tab-pane active" id="viewbeds" align ="center">
                  <div class ="widget-content">
                    <select class ="span2 roomDropdown" id="editBedsDropdown">
                      <option disabled>Select Room No.</option>
                      {% for r in rooms %}
                        <option id="{{r.idRoom}}">{{r.roomNumber}}</option>
                      {% endfor %}

                    <select>
                    <h4>List of Beds at Room No. <span class="roomNumberSpan">{{default_room.roomNumber}}</span></h4>
                    <hr>
                    <div class="pricing-plans plans-2">

						<div class="plan-container">
					        <div class="plan green">
						        <div class="plan-header">

						        	<div class="plan-title">
						        		VACANT
					        		</div> <!-- /plan-title -->

                      <div class="plan-price">
                          <span class="value" id="availableEditSpan">{{default_room.get_available_size}}</span><span class="term"> </span>
                     </div>

						        </div> <!-- /plan-header -->



								<div class="plan-actions">
                  <ol data-draggable="target" id="Available">
                  {% for bed in default_room.get_available_beds %}
                    <li data-draggable="item" id="{{bed.idBeds}}">Bed #{{bed.bedNumber}}</li>
                  {% endfor %}
                  </ol>
                  </div> <!-- /plan-actions -->

							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->



					    <div class="plan-container">
					        <div class="plan gray ">
						        <div class="plan-header">

						        	<div class="plan-title">
						        		OUT OF ORDER
					        		</div> <!-- /plan-title -->

                      <div class="plan-price">
                          <span class="value" id="unavailableEditSpan">{{default_room.get_unavailable_size}}</span><span class="term"> </span>
                     </div>

						        </div> <!-- /plan-header -->



								<div class="plan-actions">
                  <ol data-draggable="target" id="Unavailable">
                    {% for bed in default_room.get_unavailable_beds %}
                    <li data-draggable="item" id="{{bed.idBeds}}">Bed #{{bed.bedNumber}}</li>
                    {% endfor %}
                  </ol>
								</div> <!-- /plan-actions -->

							</div> <!-- /plan -->
					    </div> <!-- /plan-container -->

              </div>
                </div>
                <br>
                <div align = "center">
                  <button type="button" class="btn btn-primary" id="saveButton">Save</button>
                  <button class="btn">Cancel</button>
                </div>
                <br>
                </div>
                </div>
                </div>









                  <div class="tab-pane" id="addbed" >
										<div class ="container" >
                    <div class ="widget-content">
                      <div class ="container" id ="label">
                      <h3>NO PENDING BEDS</h3>
                      <h4>Please press the button to add a bed!</h4>
                      <hr>
                      </div>
										   <div class ="row" id="bedRow">
                            {% for bed in beds_list %}
												<div class = "span3" align ="center" id = "spanBed{{bed.idBeds}}">
 												 <div class="widget widget-table action-table" >

 													 <!-- /widget-header -->


 													 <div class="widget-content" align = "center" id="bed">

 														 <img src="{% static 'img/bed.png'%}"/ >
 														 <table class="table " align ="center">
                               <thead>
                                 <tr>

  						                     <th></th>
                                   </tr>
                                 </thead>
                                 <tbody>

 															 <tfoot align ="center" >
 																 <tr>
 																	 <th>  <th  style="text-align:center"> <button  href="#addModal{{bed.idBeds}}"  data-toggle="modal"  class="txtbtn default"><b> ADD</b></button>
     <!-- Modal -->
    <!-- Modal -->
                                                    <div id="addModal{{bed.idBeds}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h3 id="myModalLabel">Add Bed</h3>
                                                      </div>
                                                      <div class="modal-body">
                                                        <form id="add-bed" class="form-horizontal" method = "POST" action=".">
                                 												 {% csrf_token %}
                                                         <fieldset>
                                                           <div class="control-group">
                                                             <label class="control-label" for="bednumber">Bed #</label>
                                                             <div class="controls">
                                                               <input type="number" class="span1" value="{{bed.bedNumber}}" name = "bednumber" id="bed{{ bed.pk }}" value="">
                                                             </div> <!-- /controls -->




                                                        </div> <!-- /control-group -->
                                                        </fieldset>






                                                      </div>
                                                      <div class="modal-footer">
                                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        <button type="button" class="btn btn-primary" onclick="addBed({{ bed.pk }});">Save</button>
                                                      </div>
                                                      </form>
                                                    </div>





                                   </th>
 																 </tr>
 															 </tfoot>
 														 </table>
 													 </div>
 												 </div>
 											 </div>
                       </div>

                      {% endfor %}

                        <div class = "span2" align ="center" id = "spanBed{{bed.idBeds}}">
                         <div class="widget widget-table action-table" >

                           <!-- /widget-header -->


                           <div class="widget-content" align = "center" id="bed">

                             <img src="{% static 'img/addbed.png'%}"/ >
                             <table class="table " align ="center">
                               <thead>
                                 <tr>

                                   <th></th>
                                   </tr>
                                 </thead>
                                 <tbody>

                               <tfoot align ="center" >
                                 <tr>
                                    <th  style="text-align:center"> <button  href="#addModal{{bed.idBeds}}"  data-toggle="modal"  class="txtbtn default"><b> ADD</b></button>
    <!-- Modal -->
                                                    <div id="addModal{{bed.idBeds}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                      <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        <h3 id="myModalLabel">Add Bed</h3>
                                                      </div>
                                                      <div class="modal-body">
                                                        <form id="add-bed" class="form-horizontal" method = "POST" action=".">
                                                         {% csrf_token %}
                                                         <fieldset>
                                                           <div class ="control-group">
                                                               <label class="control-label" for="bednumber">Room #</label>
                                                               <div class="controls" >
                                                                 <select class ="span2">
                                                                   <option>R01</option>
                                                                   <option>R02</option>
                                                                 <select>
                                                               </div>
                                                          </div>
                                                           <div class="control-group">

                                                             <label class="control-label" for="bednumber">Bed #</label>
                                                             <div class="controls">
                                                               <input type="number" class="span1" value="{{bed.bedNumber}}" name = "bednumber" id="bed{{ bed.pk }}" value="">
                                                             </div> <!-- /controls -->




                                                        </div> <!-- /control-group -->
                                                        </fieldset>






                                                      </div>
                                                      <div class="modal-footer">
                                                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                        <button type="button" class="btn btn-primary" onclick="addBed({{ bed.pk }});">Save</button>
                                                      </div>
                                                      </form>
                                                    </div>





                                   </th>
                                 </tr>
                               </tfoot>
                             </table>
                           </div>
                         </div>
                       </div>
                       </div>



                      </div>

											</div>



											</div>





				</div> <!-- /widget -->

		    </div> <!-- /span8 -->

	      </div> <!-- /row -->

	    </div> <!-- /container -->

	</div> <!-- /main-inner -->
</div>
</div>
</div>
</div> <!-- /main -->











<script src="{% static 'js/jquery-1.7.2.min.js'%}"></script>

<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="{% static 'js/base.js'%}"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script>

var bedsArray = new Array();
function bedObject(idBeds, bedNumber, bedStatus){
  this.idBeds = idBeds;
  this.bedNumber = bedNumber;
  this.bedStatus = bedStatus;

}
function containsObject(obj, list) {
    var i;
    for (i = 0; i < list.length; i++) {
        if (list[i].idBeds === obj.idBeds) {
            return true;
        }
    }

    return false;
}

function getUpdatedArray(oldArray, newArray){
  var tempArray = new Array();
  for(var i = 0; i < oldArray.length; i++){
    var isFound = false;
    var tempObj = oldArray[i];
    for(var j = 0; j < newArray.length && !isFound; j++){

      if(oldArray[i].idBeds == newArray[j].idBeds){
        isFound = true;
      }
    }
    if(!isFound){
      tempArray.push(tempObj);
    }
  }
  return tempArray;
}

$(document).ready(function() {
  {% for beds in beds_list %}

    bedsArray.push(new bedObject("{{beds.idBeds}}", "{{beds.bedNumber}}", "{{beds.bedStatus}}"));
  {% endfor %}

    window.setInterval(function(){
      $.ajax({
    		url: '/ajax/getPendingBeds/',
    		data: {

    		},
    		dataType: 'json',
    		success: function (data){
          //data = array of beds na pending

          //yung nasa data, sinave sa tempoArray
          var tempoArray = new Array();
          for(var p = 0; p < data.length; p++){
            tempoArray.push(new bedObject(data[p].idBeds, data[p].bedNumber, data[p].bedStatus + ""));
          }

          var newArray = getUpdatedArray(bedsArray, tempoArray);
          // bedsArray = tempArray;


          for(var qwe = 0; qwe < newArray.length; qwe++){

            for(var wer = 0; wer < bedsArray.length; wer++){
              if(newArray[qwe].idBeds == bedsArray[wer].idBeds){

                bedsArray.splice(wer,1);

                $("#spanBed"+newArray[qwe].idBeds).remove();
              }
            }
          }


          var tempArray = new Array();
          for(var i = 0; i < data.length; i++){
            var bed1 = new bedObject(data[i].idBeds, data[i].bedNumber, data[i].bedStatus + "");
            if(!containsObject(bed1, bedsArray)){
              var tempBed = new bedObject(data[i].idBeds, data[i].bedNumber, data[i].bedStatus + "");
              bedsArray.push(tempBed);
              tempArray.push(tempBed);
            }
          }



          wew = "";
          for(var q = 0; q < tempArray.length; q++){
            wew += '<div class = "span3" align ="center" id="spanBed' + tempArray[q].idBeds+ '">'+
             '<div class="widget widget-table action-table">'+
               '<div class="widget-header" > <i class="icon-medkit"></i>'+
                '<h3>Add Bed</h3>'+

               '</div>'+
               '<div class="widget-content" align = "center" id="bed">'+
                 '<img src="/static/img/bed.png"/ >'+
                 '<table class="table " align ="center">'+
                   '<thead>'+
                     '<tr>'+

                       '<th></th>'+
                       '</tr>'+
                     '</thead>'+
                     '<tbody>'+
                       '<tr>'+

                         '<td>Status:</td>'+
                         '</tr>'+
                   '<tfoot align ="center" >'+
                     '<tr>'+
                       '<th> <a class="btn bt" href="#addModal' + tempArray[q].idBeds + '" role="button" data-toggle="modal"><i class="icon-plus-sign"></i> ADD</a>'+

                                        '<div id="addModal' + tempArray[q].idBeds + '" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">'+
                                          '<div class="modal-header">'+
                                            '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'+
                                            '<h3 id="myModalLabel">Add Bed</h3>'+
                                          '</div>'+
                                          '<div class="modal-body">'+
                                            '<form id="add-bed" class="form-horizontal" method = "POST" action=".">'+

                                             '<fieldset>'+
                                               '<div class="control-group">'+
                                                 '<label class="control-label" for="bednumber">Bed #</label>'+
                                                 '<div class="controls">'+
                                                   '<input type="number" class="span1" value="' + tempArray[q].bedNumber+ '" name = "bednumber" id="bed'+ tempArray[q].idBeds+'">'+
                                                 '</div> '+




                                          '</div>'+
                                            '</fieldset>'+






                                          '</div>'+
                                          '<div class="modal-footer">'+
                                            '<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addBed('+ tempArray[q].idBeds+');" >Save</button>'+
                                            '<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>'+
                                          '</div>'+
                                          '</form>'+
                                        '</div>'+





                       '</th>'+
                     '</tr>'+
                   '</tfoot>'+
                 '</table>'+
               '</div>'+
             '</div>'+
           '</div>';
          }

             $("#bedRow").append(wew);

    		}
    	});
    },2000);
});

function addBed(id){
  var wew = "#bed"+id+"";
  var bedNumber = $(wew).val();
  	$.ajax({
  		url: '/ajax/setBedAvailable/',
  		data: {
        "id":id,
        "bedNumber":bedNumber,
  		},
  		dataType: 'json',
  		success: function (data){
        alert("Bed is successfully added!");

        updateBeds();
  		}
  	});
}

function updateBeds(){
  bedsArray = [];
  $.ajax({
    url: '/ajax/getPendingBeds/',
    data: {

    },
    dataType: 'json',
    success: function (data){
      for(var i = 0; i < data.length; i++){
        bedsArray.push(new bedObject(data[i].idBeds, data[i].bedNumber, data[i].bedStatus + ""));

      }
      wew = "";

      for(var q = 0; q < bedsArray.length; q++){
        wew += '<div class = "span3" align ="center">'+
         '<div class="widget widget-table action-table">'+
           '<div class="widget-header" > <i class="icon-medkit"></i>'+
            '<h3>Add Bed</h3>'+

           '</div>'+
           '<div class="widget-content" align = "center" id="bed">'+
             '<img src="/static/img/bed.png"/ >'+
             '<table class="table " align ="center">'+
               '<thead>'+
                 '<tr>'+

                   '<th></th>'+
                   '</tr>'+
                 '</thead>'+
                 '<tbody>'+
                   '<tr>'+

                     '<td>Status:</td>'+
                     '</tr>'+
               '<tfoot align ="center" >'+
                 '<tr>'+
                   '<th> <a class="btn bt" href="#addModal' + bedsArray[q].idBeds + '" role="button" data-toggle="modal"><i class="icon-plus-sign"></i> ADD</a>'+

                                    '<div id="addModal' + bedsArray[q].idBeds + '" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">'+
                                      '<div class="modal-header">'+
                                        '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'+
                                        '<h3 id="myModalLabel">Add Bed</h3>'+
                                      '</div>'+
                                      '<div class="modal-body">'+
                                        '<form id="add-bed" class="form-horizontal" method = "POST" action=".">'+

                                         '<fieldset>'+
                                           '<div class="control-group">'+
                                             '<label class="control-label" for="bednumber">Bed #</label>'+
                                             '<div class="controls">'+
                                               '<input type="number" class="span1" value="' + bedsArray[q].bedNumber+ '" name = "bednumber" id="bed'+ bedsArray[q].idBeds+'">'+
                                             '</div> '+




                                      '</div>'+
                                        '</fieldset>'+






                                      '</div>'+
                                      '<div class="modal-footer">'+
                                        '<button type="button" class="btn btn-primary" onclick="addBed('+ bedsArray[q].idBeds+');">Save</button>'+
                                        '<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>'+
                                      '</div>'+
                                      '</form>'+
                                    '</div>'+





                   '</th>'+
                 '</tr>'+
               '</tfoot>'+
             '</table>'+
           '</div>'+
         '</div>'+
       '</div>';
      }

         $("#bedRow").html(wew);

    }
  });
}
</script>

<script>








// function ajaxRefreshAvailableBeds(){
//   $.ajax({
//     url: '/ajax/ajaxRefreshAvailableBeds/',
//     data: {

//     },
//     dataType: 'json',
//     success: function (data){
//       var wew = "";
//       $("#availableBedsSize").html(data.length);

//       for(var i = 0; i < data.length; i++){
//         wew += '<tr>'+
//           '<td style="width:20%;text-align:center;"><img src="/static/img/bedicon.png"/></td>'+
//         '  <td style="width:80%; font-size:15px;">Bed #' + data[i].bedNumber+ '</td>'+

//         '</tr>';
//       }
//       $("#availableBedsTable").html(wew);
//       $("#availableSpan").html(data.length);
//     }
//   });
// }
// function ajaxRefreshUnavailableBeds(){
//   $.ajax({
//     url: '/ajax/ajaxRefreshUnavailableBeds/',
//     data: {

//     },
//     dataType: 'json',
//     success: function (data){
//       var waw = "";
//       $("#unavailableBedsSize").html(data.length);
//       for(var i = 0; i < data.length; i++){
//         waw += '<tr>'+
//           '<td style="width:20%;text-align:center;"><img src="/static/img/bedicon.png"/></td>'+
//         '  <td style="width:80%; font-size:15px;">Bed #' + data[i].bedNumber+ '</td>'+

//         '</tr>';
//       }
//       $("#unavailableBedsTable").html(waw);
//       $("#unavailableSpan").html(data.length);
//     }
//   });
// }




// NEWLY ADDED

function tableMaker(bedNumber){
    wew = '<tr>';
    var image = "{% static 'img/bedicon.png' %}";
    wew += '<td style="width:20%;text-align:center;"><img src="' + image + '"/ ></td>';
    wew += '<td style="width:80%; font-size:15px;">Bed #' +bedNumber+ '</td>';
    wew += '</tr>';
    return wew;
}

function tableMakerNoBeds(){
    wew = '<tr><td style="text-align: center;"><h3>NO BEDS</h3></td></tr>';
    return wew;
}

function draggableMaker(idBeds, bedNumber){
    wew = '<li data-draggable="item" id="' + idBeds + '">Bed #' + bedNumber +'</li>';
    return wew;

}

$(".roomDropdown").change(function(){
    temp = this.value;
    $("#viewbedsDropdown").val(temp);
    $("#editBedsDropdown").val(temp);

    $(".roomNumberSpan").html($("#viewbedsDropdown option:selected").text());
    refresh(temp);



});

function refresh(temp){


    $.ajax({
      url: '/ajax/ajaxSelectRoom/',
      data: {
        "pk":temp,
      },
      dataType: 'json',
      success: function (data){
        $("#occupiedSizeSpan").html(data.occupiedBedSize);
        $("#availableSizeSpan").html(data.availableBedsSize);
        $("#unavailableSizeSpan").html(data.unavailableBedsSize);

        var occupiedBeds = data.beds.occupiedBeds;
        var availableBeds = data.beds.availableBeds;
        var unavailableBeds = data.beds.unavailableBeds;

        $(".bedsTable").empty();
        occupiedBedsBody = "";
        availableBedsBody = "";
        unavailableBedsBody = "";

        availableBedsDraggable = "";
        unavailableBedsDraggable = "";


        if(data.occupiedBedSize == '0'){
          occupiedBedsBody += tableMakerNoBeds();
        }
        else{
          occupiedBeds.forEach(function(a){
            occupiedBedsBody += tableMaker(a.bedNumber);
          });
        }

        if(data.availableBedsSize == '0'){
          availableBedsBody += tableMakerNoBeds();
        }
        else{
          availableBeds.forEach(function(b){
            availableBedsBody += tableMaker(b.bedNumber);
            availableBedsDraggable += draggableMaker(b.idBeds,b.bedNumber);
          });
        }

        if(data.unavailableBedsSize == '0'){
          unavailableBedsBody += tableMakerNoBeds();
        }
        else{
          unavailableBeds.forEach(function(c){
            unavailableBedsBody += tableMaker(c.bedNumber);
            unavailableBedsDraggable += draggableMaker(c.idBeds,c.bedNumber);
          });
        }

        $("#occupiedBedsTable").html(occupiedBedsBody);
        $("#availableBedsTable").html(availableBedsBody);
        $("#unavailableBedsTable").html(unavailableBedsBody);

        $("#availableEditSpan").html(data.availableBedsSize);
        $("#unavailableEditSpan").html(data.unavailableBedsSize);

        $("#Available").html(availableBedsDraggable);
        $("#Unavailable").html(unavailableBedsDraggable);
        reset();
      }
    });
}



function reset(){
  (function(){
    if(!document.querySelectorAll || !('draggable' in document.createElement('span')) || window.opera){
      return;
    }
    for(var items = document.querySelectorAll('[data-draggable="item"]'), len = items.length, i = 0; i < len; i ++){
        items[i].setAttribute('draggable', 'true');
    }
    var item = null;

    document.addEventListener('dragstart', function(e){
        item = e.target;
        e.dataTransfer.setData('text', '');
    }, false);
    document.addEventListener('dragover', function(e){
        if(item){
            e.preventDefault();
        }
    }, false);
    document.addEventListener('drop', function(e){
        if(e.target.getAttribute('data-draggable') == 'target')
        {
          e.target.appendChild(item);

          e.preventDefault();
        }
    }, false);
    document.addEventListener('dragend', function(e){
        item = null;
    }, false);

  })();
}


$(document).ready(function() {
    reset();
    $('#example').DataTable();


    $("#saveButton").click(function(){
      var available = $("#Available").children();
      var unavailable = $("#Unavailable").children();

      var aList = new Array();
      var uList = new Array();
      for(var i = 0; i < available.length; i++){
        aList.push(available[i].id);
      }
      for(var o = 0; o < unavailable.length; o++){
        uList.push(unavailable[o].id);
      }
      $.ajax({
        url: '/ajax/ajaxUpdateBedStatus/',
        data: {
          "aList[]":aList,
          "uList[]":uList,
        },
        dataType: 'json',
        success: function (data){
          alert("The status of the bed is successfully updated!");

          var temp = $("#editBedsDropdown").val();
          refresh(temp);
        }
      });
    });
} );


</script>
{% endblock content %}
