{% extends 'dashboard/notifbase.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<style>
	.table-wrapper-scroll-y {
  display: block;
  max-height: 200px;
	max-width: 270px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.footers {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: black;
 color: red;
 text-align: center;
}
</style>

<div class="main">
	<div class="main-inner">
	    <div class="container">

        <h4>Your Notifications<a href="#myModal" data-toggle="modal" style="float:right;"></i>Clear All</a></h4>


                            <!-- Modal -->
                            <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Confirm dialog</h3>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete all your notifications? You cannot undo it.

                              </div>                        
                                <div class="modal-footer">
                                 <form action="" method="POST">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                               
                                  {% csrf_token %}
                                  <button type="submit" id="addButton" class="btn btn-primary">Confirm</button>
                                  
                                </form>
                              </div>
                            </div>








        <hr>
	      <div class="row">
	      	<div class="span12">
	      		<div class="widget ">
              
                  {% for wew in dates %}
                  <table class="table table-bordered ">

                   <tbody>
                     {{wew.date}}
                    {% for n in notif_list %}
                      {% if wew.date == n.date %}
                       <tr>
                          <td style="width:10%;float:center;text-align:center;color:red; font-size:10px;" align ="center"><b>{{n.time}}</b></td>

                          <td style="width:20%;float:center;text-align:center;color:red; font-size:15px;" align ="center"><b>BED #{{n.bedNumber}}</b></td>
                          <td style="width:70%; font-size:13px;">{{n.body}}</td>

                        </tr>

                        {% endif %}
                    {% endfor %}

                  {% endfor %}
                
                </tbody>
              </table>

		    </div> <!-- /span8 -->

	      </div> <!-- /row -->

	    </div> <!-- /container -->

	</div> <!-- /main-inner -->

</div>
</div> <!-- /main -->






<!--
<div class="footers">
  <p>Uno Dos Mattress 2.0 &copy; 2018</p>
   /footer-inner
</div> -->


<script src="{% static 'js/jquery-1.7.2.min.js'%}"></script>
<script src="{% static 'js/listbox.js'%}"></script>
<script src="{% static 'js/listbox-scrollable.js'%}"></script>
<script src="{% static 'js/bootstrap.js'%}"></script>
<script src="{% static 'js/base.js'%}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'js/dataTables.js'%}"></script>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>


{% endblock content %}
